$color-black: #000;

// Blue Grey
$c-bg-50: #ECEFF1;
$c-bg-100: #CFD8DC;
$c-bg-200: #B0BEC5;
$c-bg-300: #90A4AE;
$c-bg-400: #78909C;
$c-bg-500: #607D8B;
$c-bg-600: #546E7A;
$c-bg-700: #455A64;
$c-bg-800: #37474F;
$c-bg-900: #263238;

// Slate Grey
$c-sg-1: #96A5BD;
$c-sg-2: #808DA2;
$c-sg-3: #303845;
$c-sg-4: #2B3544;
$c-sg-5: #1A222F;

// Brightness
$c-br-1: #FCFDFE;
$c-br-2: #FBFCFD;
$c-br-3: #FAFBFC;
$c-br-4: #F5F7F8;
$c-br-5: #E8ECEE;

$c-theme-1: #F4511E;;
$c-theme-2: #43A047;;
$c-theme-3: #C62828;;
$c-theme-4: #2850C6;;
$c-theme-5: #AD28C6;;
$c-theme-6: #E57373;;
