.room {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: $color-black;

	&__content {
		/*position: absolute;
		top: 50%;
		left: 50%;
		width: 1280px;
		height: 720px;
		margin-left: -640px;
		margin-top: -360px;*/
		height: 100%;
		width: 100%;
	}
}
