@import "../../styles/helpers/colors";

.dialog-window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	&__replic {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		pointer-events: none;

		&.active {
			pointer-events: auto;

			.dialog-window {
				&__replic-container {
					opacity: 1;
				}

				&__author-image {
					opacity: 1;
				}
			}
		}

		// animations
		.app-animated & {
			.dialog-window {
				&__replic-container {
					opacity: 0;
					transition-delay: 0s;
					transition: opacity 0.3s;
				}
			}

			&.active {
				.dialog-window {
					&__replic-container {
						opacity: 1;
						transition-delay: 0.3s;
					}
				}
			}
		}
	}

	&__replic-container {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 20vh;
		background-color: rgba($color-black, 0.5);
		color: $color-white;
		padding: 20px 30px;
		opacity: 0;
	}

	&__overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		cursor: pointer;
	}

	&__answer-list {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 99;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		background-color: rgba(0,0,0,0.5);
	}

	&__answer {
		display: block;
		width: 60vw;
		background-color: rgba(0,0,0,0.8);
		color: rgba(white, 0.7);
		border: none;
		text-align: center;
		margin-bottom: 5px;
		padding: 10px;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: rgba(0,0,0,0.6);
		}
	}

	&__author {
		margin-bottom: 15px;
		font-size: 26px;
		line-height: 30px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 18px;
		line-height: 26px;

		&_big {
			font-size: 30px;
			line-height: 36px;
		}
	}

	&__author-image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba($color-black, 0.3);
		opacity: 0;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
