@import "../../styles/helpers/colors";

.dialog-window {
	position: fixed;
	z-index: 100;

	&__container {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20vh;
		z-index: 100;
		background-color: rgba($color-black, 0.5);
		color: $color-white;
		padding: 20px 30px;
	}

	&__overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		cursor: pointer;
	}

	&__answer-list {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 99;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		background-color: rgba(0,0,0,0.5);
	}

	&__answer {
		display: block;
		width: 60vw;
		background-color: rgba(0,0,0,0.8);
		color: rgba(white, 0.7);
		border: none;
		text-align: center;
		margin-bottom: 5px;
		padding: 10px;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: rgba(0,0,0,0.6);
		}
	}

	&__author {
		margin-bottom: 15px;
		font-size: 26px;
		line-height: 30px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 18px;
		line-height: 26px;

		&_big {
			font-size: 30px;
			line-height: 36px;
		}
	}
}
