@import "../../styles/helpers/colors";

.game-loader {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	z-index: 1000;

	&__line {
		position: absolute;
		left: 10%;
		right: 10%;
		bottom: 10%;
		height: 10px;
		background-color: $c-sg-2;
	}

	&__line-filler {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		height: 100%;
		transition: width 1s linear;
		transform: translateZ(0);
		transform-origin: left center;
		background-color: $c-theme-3;
	}
}
